<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skhuMentoring.mapper.MentoringBoardMapper">
    <select id="getDepartment" resultType="com.skhuMentoring.dto.Department">
        SELECT department FROM TBL_DEPARTMENT
    </select>

    <select id="getSubject" resultType="com.skhuMentoring.dto.Subject">
        SELECT * FROM TBL_SUBJECT
    </select>

    <insert id="insertMentorBoard" useGeneratedKeys="true" keyProperty="bno">
        INSERT into tbl_mentorBoard(userId,userName,UserStudentNum,department,subjectName,maxPersonnel, personnel, startDate,endDate,hopeDay,introduce,recruiting) values(#{userId},#{userName}, #{userStudentNum}, #{department}, #{subjectName},#{maxPersonnel}, #{personnel}, #{startDate}, #{endDate}, #{hopeDay}, #{introduce}, '모집중')
    </insert>

    <insert id="insertSubject" keyProperty="sno" useGeneratedKeys="true">
        insert into tbl_subject(subjectName) values(#{subjectName})
    </insert>

    <select id="checkSubject" resultType="_int">
        SELECT COUNT(*) FROM tbl_subject where subjectName=#{subject}
    </select>

    <insert id="insertMenteeBoard" useGeneratedKeys="true" keyProperty="bno">
        INSERT into tbl_menteeBoard(userId,userName,UserStudentNum,department,subjectName,startDate,endDate,hopeDay,introduce) values(#{userId},#{userName}, #{userStudentNum}, #{department}, #{subjectName}, #{startDate}, #{endDate}, #{hopeDay}, #{introduce})
    </insert>

    <select id="login" parameterType="map" resultType="com.skhuMentoring.dto.User">
        select userId, userPw, userEmail
        from tbl_user
        where userId = #{userId} and userPw = #{userPw}
    </select>

    <delete id="setUpMentoring">
        delete from tbl_menteeBoard where userStudentNum =#{userStudentNum}
    </delete>
    <!--멘토 상태 게시물 삭제-->
    <delete id="deleteMentorBoard">
        DELETE FROM tbl_mentorBoard where bno=#{bno}
    </delete>

    <!--멘토 상태 모집 종료-->
    <update id="endMentorBoard">
        update tbl_mentorboard
        set recruiting = '진행중' ,realStartDate = now()
        where bno = #{bno};
    </update>



    <delete id="deleteMenteeBoard">
        DELETE FROM tbl_menteeBoard where bno =#{bno}
    </delete>
    
    <!--멘토 목록에서 멘토 상세보기-->
    <select id="getDetailMentor" resultType="com.skhuMentoring.dto.Mentor">
        SELECT * FROM tbl_mentorBoard where bno =#{bno}
    </select>

    <!--멘티 목록에서 멘토 상세보기-->
    <select id="getDetailMentee" resultType="com.skhuMentoring.dto.Mentee">
        SELECT * FROM tbl_menteeBoard where bno =#{bno}
    </select>

    <insert id="applicationMentor">
        INSERT INTO tbl_applicationMentor(bno,menteeId,userName,userStudentNum,department, introduce,subjectName, accept) values(#{bno}, #{menteeId},#{userName},#{userStudentNum},#{department},#{introduce},#{subjectName},'대기중')
    </insert>

    <select id="getMentoring" resultType="com.skhuMentoring.dto.Mentor">
        SELECT * FROM tbl_mentorBoard where bno=#{bno}
    </select>

    <select id="checkApplicationStatus" resultType="_int">
        select count(*) from(
                                select a.*, m.userId
                                from tbl_mentorboard m JOIN tbl_applicationMentor a on m.bno = a.bno)tbl_mentroing
        where bno = #{bno} and menteeId = #{menteeId};
    </select>

    <update id="menteeAccept">
        UPDATE tbl_mentorBoard
        SET personnel = personnel + 1
        WHERE bno = #{bno}
    </update>

    <update id="menteeAcceptStatus">
        update tbl_applicationMentor
        set accept = '수락됨' , startDate = now()
        where bno = #{bno} and menteeId = #{menteeId}
    </update>

    <update id="endApplicationMentor">
        update tbl_applicationMentor
        set accept = '진행중'
        where bno = #{bno}
    </update>

    <select id="getDetailMentees" resultType="com.skhuMentoring.dto.Mentee">
        select * from tbl_applicationmentor
        where bno=#{bno} and accept='진행중' or bno=#{bno} and accept='수락됨'
    </select>

    <select id="sliderMentor" resultType="com.skhuMentoring.dto.Mentor">
        SELECT * FROM tbl_mentorboard ORDER BY bno desc limit 8
    </select>

    <select id="getPersonnel" resultType="long">
        select personnel from tbl_mentorBoard where bno = #{bno}
    </select>

    <delete id="deleteMenteeboard">
        DELETE FROM tbl_menteeBoard WHERE bno =#{bno}
    </delete>

</mapper>
