<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skhuMentoring.mapper.MentoringBoardMapper">

    <sql id="criteria">
        <if test="type != null and keyword != null">
            <trim prefix="(" suffix=") AND" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'W'.toString()">
                                (userName LIKE CONCAT('%',#{keyword},'%'))
                            </when>
                            <when test="type == 'S'.toString()">
                                (subjectName LIKE CONCAT('%',#{keyword},'%'))
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <select id="getDepartment" resultType="com.skhuMentoring.dto.Department">
        SELECT department FROM TBL_DEPARTMENT
    </select>

    <select id="getSubject" resultType="com.skhuMentoring.dto.Subject">
        SELECT * FROM TBL_SUBJECT
    </select>

    <insert id="insertMentorBoard" useGeneratedKeys="true" keyProperty="bno">
        INSERT into tbl_mentorBoard(userId,userName,UserStudentNum,department,subjectName,maxPersonnel, personnel, startDate,endDate,hopeDay,introduce,recruiting) values(#{userId},#{userName}, #{userStudentNum}, #{department}, #{subjectName},#{maxPersonnel}, '0', #{startDate}, #{endDate}, #{hopeDay}, #{introduce}, '모집중')
    </insert>

    <insert id="insertSubject" keyProperty="sno" useGeneratedKeys="true">
        insert into tbl_subject(subjectName) values(#{subjectName})
    </insert>

    <select id="checkSubject" resultType="_int">
        SELECT COUNT(*) FROM tbl_subject where subjectName=#{subject}
    </select>

    <insert id="insertMenteeBoard" useGeneratedKeys="true" keyProperty="bno">
        INSERT into tbl_menteeBoard(userId,userName,UserStudentNum,department,subjectName,startDate,endDate,hopeDay,introduce) values(#{userId},#{userName}, #{userStudentNum}, #{department}, #{subjectName}, #{startDate}, #{endDate}, #{hopeDay}, #{introduce})
    </insert>

    <select id="login" parameterType="map" resultType="com.skhuMentoring.dto.User">
        select userId, userPw, userEmail
        from tbl_user
        where userId = #{userId} and userPw = #{userPw}
    </select>

    <delete id="setUpMentoring">
        delete from tbl_menteeBoard where userStudentNum =#{userStudentNum}
    </delete>
    <!--멘토 상태 게시물 삭제-->
    <delete id="deleteMentorBoard">
        DELETE FROM tbl_mentorBoard where bno=#{bno}
    </delete>

    <!--멘토 상태 모집 종료-->
    <update id="endMentorBoard">
        update tbl_mentorboard
        set recruiting = '진행중' ,realStartDate = now()
        where bno = #{bno};
    </update>



    <delete id="deleteMenteeBoard">
        DELETE FROM tbl_menteeBoard where bno =#{bno}
    </delete>
    
    <!--멘토 목록에서 멘토 상세보기-->
    <select id="getDetailMentor" resultType="com.skhuMentoring.dto.Mentor">
        SELECT * FROM tbl_mentorBoard where bno =#{bno}
    </select>

    <!--멘티 목록에서 멘토 상세보기-->
    <select id="getDetailMentee" resultType="com.skhuMentoring.dto.Mentee">
        SELECT * FROM tbl_menteeBoard where bno =#{bno}
    </select>

    <insert id="applicationMentor">
        INSERT INTO tbl_applicationMentor(bno,menteeId,userName,userStudentNum,department, introduce,subjectName, accept) values(#{bno}, #{menteeId},#{userName},#{userStudentNum},#{department},#{introduce},#{subjectName},'대기중')
    </insert>

    <select id="getMentoring" resultType="com.skhuMentoring.dto.Mentor">
        SELECT * FROM tbl_mentorBoard where bno=#{bno}
    </select>

    <select id="checkApplicationStatus" resultType="_int">
        select count(*) from(
                                select a.*, m.userId
                                from tbl_mentorboard m JOIN tbl_applicationMentor a on m.bno = a.bno)tbl_mentroing
        where bno = #{bno} and menteeId = #{menteeId};
    </select>

    <update id="menteeAccept">
        UPDATE tbl_mentorBoard
        SET personnel = personnel + 1
        WHERE bno = #{bno}
    </update>

    <update id="menteeAcceptStatus">
        update tbl_applicationMentor
        set accept = '수락됨' , startDate = now()
        where bno = #{bno} and menteeId = #{menteeId}
    </update>

    <!--모집현황에 대한 flag 업데이트 ( 모집중->진행중)-->
    <update id="mentorBoardUpdate">
        UPDATE tbl_mentorBoard
        SET recruiting = '진행중'
        WHERE bno = #{bno}
    </update>

    <update id="endApplicationMentor">
        update tbl_applicationMentor
        set accept = '진행중'
        where bno = #{bno}
    </update>

    <select id="getDetailMentees" resultType="com.skhuMentoring.dto.Mentee">
        select * from tbl_applicationmentor
        where bno=#{bno} and accept='진행중' or bno=#{bno} and accept='수락됨'
    </select>

    <select id="sliderMentor" resultType="com.skhuMentoring.dto.Mentor">
        SELECT * FROM tbl_mentorboard where recruiting='모집중' ORDER BY bno desc limit 8
    </select>

    <select id="getPersonnel" resultType="long">
        select personnel from tbl_mentorBoard where bno = #{bno}
    </select>

    <!--멘토 정원 수-->
    <select id="getMaxpersonnel" resultType="long">
        select maxpersonnel from tbl_mentorBoard where bno = #{bno}
    </select>

    <delete id="deleteMenteeboard">
        DELETE FROM tbl_menteeBoard WHERE bno =#{bno}
    </delete>

    <select id="getListWithPaging" resultType="com.skhuMentoring.dto.Mentor">
        <![CDATA[
        SELECT *
        FROM
            (SELECT @ROWNUM := @ROWNUM + 1 AS RN ,
            m.* from tbl_mentorboard m, (SELECT @ROWNUM :=0) RN_TB
             WHERE
]]>
        <include refid="criteria"></include>
<![CDATA[
        (@ROWNUM)<= (#{pageNum} * #{amount})-1 AND recruiting ='모집중' ORDER BY bno DESC)tbl_rownum
        WHERE RN > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <select id="getMentorBoardTotal" resultType="long">
        select count(*) from tbl_mentorBoard where
        <include refid="criteria"></include>
        <![CDATA[
        recruiting ='모집중'
        ]]>
    </select>

    <!--멘티보드 페이징-->
    <select id="getListWithPagingMentee" resultType="com.skhuMentoring.dto.Mentee">
        <![CDATA[
        SELECT *
        FROM
            (SELECT @ROWNUM := @ROWNUM + 1 AS RN ,
            m.* from tbl_menteeboard m, (SELECT @ROWNUM :=0) RN_TB
             WHERE
]]>
        <include refid="criteria"></include>
        <![CDATA[
        (@ROWNUM)<= (#{pageNum} * #{amount})-1 ORDER BY bno DESC)tbl_rownum
        WHERE RN > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <select id="getMenteeBoardTotal" resultType="long">
        select count(*) from tbl_menteeBoard where
        <include refid="criteria"></include>
        <![CDATA[
        bno>0
        ]]>
    </select>

    <update id="addPersonnel">
        UPDATE tbl_mentorBoard
        SET personnel = personnel + 1
        WHERE bno = #{bno}
    </update>
</mapper>
