<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SkhuMentoring.mapper.UserMapper">

    <select id="checkId" resultType="int">
        SELECT count(*) FROM tbl_user WHERE userId = #{userId}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO tbl_user(userName, userId, userPw, department, userStudentNum,  userEmail, userPhoneNum)
        values (#{userName}, #{userId}, #{userPw}, #{department},#{userStudentNum},  #{userEmail}, #{userPhoneNum})
    </insert>

    <select id="getDepartment" resultType="com.SkhuMentoring.dto.Department">
        SELECT department FROM TBL_DEPARTMENT
    </select>


    <!--LOGIN-->
    <select id="login" resultType="_int">
        select count(*) from tbl_User where userId = #{userId} AND userPw = #{userPw}
    </select>

    <select id="getId" resultType="string">
        Select userId from tbl_user where userId= #{userId}
    </select>

    <!--userId로 해당 유저 정보 모두 가져오기-->
    <select id="getUser" resultType="com.SkhuMentoring.dto.User">
        select * from tbl_user where userId = #{userId}
    </select>


</mapper>